{% extends 'base.html' %}

{% block 'titulo' %} Cadastro {% endblock %}

{% block 'conteudo' %} 

    <div class="container">
        <form method="post" class="login" action="{% url 'valida_cadastro' %}">{% csrf_token %}
            {% if status == '1' %}

        <div class="alert alert-warning" role="alert">
            Preencha o formulário corretamente!
        </div>

        {% endif %}

        {% if status == '2' %}

        <div class="alert alert-warning" role="alert">
            Email já cadastrado!
        </div>

        {% endif %}

        {% if status == '3' %}

        <div class="alert alert-danger" role="alert">
            Falha ao conectar com o banco de dados!
        </div>

        {% endif %}

        {% if status == '0' %}

        <div class="alert alert-success" role="alert">
            Cadastro realizado com sucesso.
        </div>

        {% endif %}
            <div class="row">
                <h4 style="text-align: center;">Sign Up</h4>
                <div class="col-md-12">
                        <input type="text" name="user" style="margin: 5px;" class="form-control" id="name" placeholder="User">
                        <input type="text" name="email" style="margin: 5px;" class="form-control" id="email" placeholder="Email">
                        <input type="password" name="password" style="margin: 5px;" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a name="sign-in" id="sign-in" value="Sign-in" class="btn btn-outline-primary btn-form" href="{% url 'login' %}">Sign-in</a>
                </div>
                <div class="col-md-6">
                    <input type="submit" name="login" id="register" value="Signup" class="btn btn-outline-success btn-form">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}