{% extends 'base.html' %}

{% block 'titulo' %} Cadastro {% endblock %}

{% block 'conteudo' %} 

    <div class="container">
        <form method="post" class="login" action="{% url 'valida_cadastro' %}">{% csrf_token %}
            {% if status == '1' %}

        <div class="alert alert-warning" role="alert">
            Preencha o formulário corretamente!
        </div>

        {% endif %}

        {% if status == '2' %}

        <div class="alert alert-warning" role="alert">
            Email já cadastrado!
        </div>

        {% endif %}

        {% if status == '3' %}

        <div class="alert alert-danger" role="alert">
            Falha ao conectar com o banco de dados!
        </div>

        {% endif %}

        {% if status == '0' %}

        <div class="alert alert-success" role="alert">
            Cadastro realizado com sucesso.
        </div>

        {% endif %}
            <div class="row">
                <h4 style="text-align: center;">Sign Up</h4>
                <div class="col-md-12">
                        <input type="text" name="user" style="margin: 5px;" class="form-control" id="name" placeholder="User">
                        <input type="text" name="email" style="margin: 5px;" class="form-control" id="email" placeholder="Email">
                        <input type="password" name="password" style="margin: 5px;" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a name="sign-in" id="sign-in" value="Sign-in" class="btn btn-outline-primary btn-form" href="{% url 'login' %}">Sign-in</a>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success btn-form" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}